<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">My Library</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "home" %}">Home</a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'deposit' %}">Deposit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "display-borrowed-books" %}">Borrowed Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "report" %}">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "logout" %}">Logout</a>
          </li>
          <li class="nav-item">
            <p>Welcome {{request.user.first_name}}, Balance: {{request.user.profile.balance}}</p>
          </li>
          {% else %}

          <li class="nav-item">
            <a class="nav-link" href={% url "register" %}>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href={% url "login" %}>Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>